:root {
    --service-cart-width: 400px;
}

body {
    padding: 0px;
    margin : 0px;
}

.main-title {
    padding  : 0px 0px 4px 50px;
    font-size: 20px;
}

.main-title-underline {
    width           : 40px;
    height          : 3px;
    background-color: darkred;
    margin          : 0px 0px 10px 50px;
    border-radius   : 5px;
}

.a-title {
    text-align       : center;
    font-weight      : 500;
    font-size        : 30px;
    font-variant-caps: petite-caps;
    padding          : 30px;
}

.small-title {
    font-size: 16px;
}

.underline {
    display         : block;
    margin-left     : auto;
    margin-right    : auto;
    width           : 30px;
    height          : 5px;
    background-color: black;
}

/*                */
/* Navbar Section */
/*                */

#navbar {
    background-color: rgba(0, 0, 0, 0.23);
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    transition      : top 0.7s;
    z-index         : 1;
}

#navbar a {
    font-size      : 15px;
    float          : left;
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 15px;
    text-decoration: none;
    font-family    : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

#navbar a:hover,
.active {
    background-color: #ddd;
    color           : black;
    border-radius   : 5px;
}

#navbar a.active {
    background-color: rgb(2, 3, 21);
    color           : rgb(131, 125, 243);
}

.home-link {
    font-weight : 900;
    font-size   : x-large !important;
    font-family : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-variant: small-caps;
}

.home-link span {
    font-variant  : normal;
    font-size     : medium;
    letter-spacing: 3px;
    font-family   : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innernav {
    display        : flex;
    justify-content: flex-end;
    padding-right  : 50px;
    padding-top    : 13px;
}


.nav-option {
    position: relative;
    display : inline-block;
}

.dropdown-content {
    display         : none;
    position        : absolute;
    margin-top      : 50px;
    width           : 200px;
    background-color: rgb(232, 232, 232);
    z-index         : 1;
}

.dropdown-content a {
    padding: 0px;
    margin : 0px;
    color  : black !important;

}

.with-sub:hover .dropdown-content {
    display: block;
}

/*               */
/* Home Section  */
/*               */


#home {
    position  : relative;
    width     : 100%;
    height    : 100vh;
    background: url("./clouds.jpg");
}

#intro-div {
    text-align      : start;
    position        : absolute;
    margin          : auto;
    top             : 20%;
    right           : 10%;
    height          : min-content;
    max-width       : 500px;
    font-size       : 18px;
    color           : black;
    font-family     : "Unica One", sans-serif;
    font-weight     : 300;
    background-color: rgba(255, 255, 255, 0.088);
    border-radius   : 10px;
    padding         : 10px 20px 20px;
}

#intro-div a {
    background-color: #ddd;
    color           : black;
    border-radius   : 5px;
    padding         : 10px;
    font-size       : small;
    text-decoration : none;
    margin-right    : 50px;
}

#intro-div a.active {
    text-decoration: none;
    color          : black;
}


/*               */
/* About         */
/*               */

#about {
    /* min-height: 100vh; */
    min-height      : fit-content !important;
    background-color: rgb(142, 139, 175);
    padding         : 70px 70px;
}

#about .a-title {
    color: darkslategray;
}

#photo-section {
    float : left;
    margin: 10px;
}

#about-photo {
    position        : relative;
    width           : 200px;
    height          : 200px;
    background-color: red;
    margin          : 50px;
    border-radius   : 50%;
}

#about-photo-decor {
    position     : absolute;
    width        : 170px;
    height       : 170px;
    border-style : dotted;
    border-color : white;
    border-width : 2px;
    margin       : 15px;
    border-radius: 50%;
}

#my-details {
    min-height: max-content;
}

/*               */
/* Experience    */
/*               */

#experience {
    background-color: rgb(221, 232, 246);
    height          : 100vh;
}

/*               */
/* Services      */
/*               */

#services {
    background-color: rgb(147, 192, 158);
    height          : fit-content;
    padding         : 60px;
}

#services .main-title-underline {
    background-color: cornsilk;
    width           : 20px;
}

.scrollmenu {
    width : 100%;
    height: fit-content;

    /**used to scroll text*/
    white-space               : nowrap;
    overflow-x                : scroll;
    overflow-y                : hidden;
    /**keep scrolling when
      *finger or cursor scrolling*/
    -webkit-overflow-scrolling: touch;
}

.service-card {
    background-color: beige;
    border-radius   : 5px;
    width           : var(--service-cart-width);
    height          : 500px;
    float           : none;
    display         : inline-block;
}

.service-card:hover {
    padding: 3px;
}

/*to hide the scrollbars*/
.scrollmenu::-webkit-scrollbar {
    display: none;
}

.service-icon {
    justify-content: center;
    display        : flex;
}

.service-icon img {
    height: 150px;
    width : auto;
}

.service-title {
    color            : dimgrey;
    font-size        : 30px;
    /* margin        : auto; */
    padding          : 25px 0px;
    text-align       : center;
    font-family      : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-caps: all-petite-caps;
}

.service-details {
    background-color: blue;
    height: fit-content;
}

/*               */
/* Appointment   */
/*               */

#appointment {
    background-color: rgb(248, 181, 142);
    padding         : 50px;
}


#appointment-form {
    margin-top: 360px;
    width     : 40%;
    float     : right;
}

#appointment input,
#message,
#subscribe input {
    border          : 0.5px solid white;
    padding         : 10px;
    margin-left     : 5px;
    margin-top      : 5px;
    width           : 250px;
    background-color: rgba(255, 255, 255, 0.1);
    height          : 60px;
}

#appointment-form .wide,
#subscribe input,
#subscribe #submit-subscribe {
    min-width: 510px;
}

#appointment-form .placeholder {
    left : 12px;
    width: calc(100% - (12px * 2));
}

#appointment #submit,
#subscribe #submit-subscribe {
    background-color: white;
    color           : rgb(39, 37, 50);
    width           : 170px;
    font-weight     : 800;
}


/*               */
/* Footer        */
/*               */



#footer {
    position        : relative;
    width           : 100%;
    height          : 60vh;
    background-color: rgb(17, 42, 54);
    padding         : 0px;
    padding-bottom  : 0px;
    padding-top     : 100px;
    margin-bottom   : 0px;
}

.part1 {
    position         : absolute;
    height           : fit-content !important;
    width            : 30%;
    float            : left;
    text-align       : start;
    min-height       : 300px;
    background-color : transparent;
    padding-left     : 30px;
    color            : wheat;
    font-variant-caps: all-petite-caps;
    font-size        : 22px;
}

.part1 a {
    text-decoration: none;
    color          : wheat;
}

.part1 a.active {
    text-decoration: none;
    color          : wheat;
}

.part2 {
    background-color: transparent;
    width           : 60%;
    float           : right;
    min-height      : 300px;
    padding-left    : 0px;
    color           : white;
    font-size       : 15px;
    font-weight     : 300;
    font-family     : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.part3 {
    background-color: transparent;
    width           : 5%;
    float           : right;
    min-height      : 300px;
    /* padding-left : 30px; */
    color           : white;
    font-size       : 15px;
    font-weight     : 300;
    font-family     : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

#footer-bottom {
    padding         : 10px;
    background-color: rgb(19, 97, 133);
    margin          : 0px;
    text-align      : center;
    margin-bottom   : 0px;
}